{% extends "base.html" %}

{% block my_content %}

    <h2>Subtipos de Productos</h2>
    <p>This shows a list of names and lets you Create, Update and Delete them.</p>

    <h3>Nuevo subtipo de producto</h3>
    <form id="name_form" method="post" action="">
        {% csrf_token %}
        {{ productoSubTipo_form.as_p }}
        <input type="submit" name="submit" value="Create">
    </form>

    <h3>Listado de Sub Tipo de productos</h3>

    {% if productoSubTipos_from_context %}
        <ul>
            {% for productoSubTipo in productoSubTipos_from_context %}
                <li>{{ productoSubTipo }}  <button>Delete</button> <button>Update</button></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No existen productoSubTipos</h3>
    {% endif %}

{% endblock %}
