{% extends "base.html" %}

{% block my_content %}

    <h2>Productos</h2>
    <p>This shows a list of names and lets you Create, Update and Delete them.</p>

    <h3>Nuevo producto</h3>
    <form id="name_form" method="post" action="">
        {% csrf_token %}
        {{ producto_form.as_p }}
        <input type="submit" name="submit" value="Create">
    </form>

    <h3>Listado de productos</h3>

    {% if productos_from_context %}
        <ul>
            {% for producto in productos_from_context %}
                <li>{{ producto.nombre }}  <button>Delete</button> <button>Update</button></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No existen productos</h3>
    {% endif %}

{% endblock %}
