{% extends "base.html" %}

{% block my_content %}

    <h2>Variantes</h2>
    <p>This shows a list of names and lets you Create, Update and Delete them.</p>

    <h3>Nueva variante</h3>
    <form id="variante_form" method="post" action="/app/variantes/">
        {% csrf_token %}
        {{ variante_form.as_p }}
        <input type="submit" name="submit" value="Create">
    </form>

    <h3>Listado de variantes</h3>

    {% if variantes_from_context %}
        <ul>
            {% for variante in variantes_from_context %}
                <li>{{ variante.producto.nombre }}  <button>Delete</button> <button>Update</button></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No existen variantes</h3>
    {% endif %}

{% endblock %}
