env/
stockcs/stockapp/migrations
stockcs/stockapp/migrations/*
stockcs/stockapp/migrations/**
stockcs/stockcs/__pycache__/**
stockcs/stockcs/__pycache__/*
stockcs/stockcs/settings.py
**/__pycache__/**
*.pyc
*.swp
